// COLORS
$primary-color:  #eb3349;
$secondary-color:  #f45c43  ;

$white-color: #29272c;

$dark-grey: #29272c;

$dark-blue-text: #fff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
